<%- include("../partials/header") %>

<div class="container">
	<%if(error&& error.length>0){ %>
		<div class="alert alert-danger">
			<%= error %>
		</div>
	<%}else if(success&& success.length>0){%>
		<div class="alert alert-success">
			<%= success %>
		</div>
	<%}%>
</div>

<div class="container">
	<header class="jumbotron">
		<h1>Welcome To YelpCamp!</h1>
		<p> Here are all the campgrounds:</p>
		<a class="btn btn-primary" href="/campgrounds/new"> Add new campground</a> 
	</header>
	<div class="row text-center" style="display:flex;flex-wrap:wrap;">
		<% campgrounds.forEach(function(campground){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src="<%= campground.image %>" /> 
					<h4 class="caption"><%= campground.name %></h4>
					<a class="btn btn-primary" href="/campgrounds/<%= campground._id%>">More Info</a>
				</div>
			</div>
		<% }) %>
	</div>
</div>

<%- include("../partials/footer") %>
